.fruitImage1 {
    height: 200px;
    width: 200px;
    border-radius: 16%;
    margin: 10px;
    border: 5px solid rgb(245, 132, 2,0.8);
}

.fruitImage2 {
    height: 200px;
    width: 200px;
    border-radius: 16%;
    margin: 10px;
    border: 5px solid rgb(13, 79, 31);
}
.img-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.vsText {
    color: #000000;
    font-size: 2rem;
    font-weight: bolder;
}

.fruit1-text {
    color: #000000;
    font-size: 2.5rem;
    font-weight: bolder;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Autour One';
}

.fruit2-text {
    color: #000000;
    font-size: 2.5rem;
    font-weight: bolder;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Autour One';
}

.semi-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fruit1-semi-text {
    margin: 3px;
    color: #0b0b0b;
    font-size: 1rem;
    font-weight: 500;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Autour One';
}

.fruit2-semi-text {
    margin: 3px;
    color: #0b0a0b;
    font-size: 1rem;
    font-weight: 500;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Autour One';
}
p.text-muted{
    color:rgb(13, 79, 31)!important;
    font-family: 'Autour One';
}

.title{
    font-family: 'Autour One';
}

@media only screen and (max-width: 580px) {
    #infoBox {
        flex-direction: column !important;
    }

    .fruitImage {
        height: 150px;
        width: 150px;
        
    }

    #button-box {
        margin: 10px 0px !important;
    }
}